.outer-container{
    height: 100%;
    color: #4d4d4d;

}

.inner-container{
    height: 100%;
    width:550px;
    max-width: 550px;
    min-width: 230px;
    align-self: center;
}
body{
    color: #4d4d4d;
    height: 100%;
}

html{
    height: 100%;
}

.todo-header{
    position: relative;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgb(134, 56, 56);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.main-header{
    flex-direction: row;
}

.hamburger{
    position: relative;
    font-size: 50px;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.sidebar-menu{
    z-index: 10;
    position: fixed;
    width:20%;
    bottom:0;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 5px 0px 10px gray;
}

.sidebar-header{
    background-color: rgb(134, 56, 56);
    color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    width:100%;
    height: 23%;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-options{
    position: relative;
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    font-weight: bold;
    align-items: flex-start;
    flex: 1 1;
    overflow: auto;
    word-break: break-all;
    width:100%;
}

.sidebar-ul{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: white;
    align-items: flex-start;
    width:inherit;
}

.sidebar-ul-li{
    box-sizing: border-box;
    border-bottom: 1px solid #999999;
    display: flex;
    flex-direction: column;
    width: inherit;
    padding: 10px;
    align-items: flex-start;
    font-size: 20px;
    cursor: pointer;
}

.sidebar-ul-li-ul-li{
    font-size: 15px;
    font-weight: normal;
    text-align: justify;
    cursor: pointer;
}

.sidebar-footer{
    position: relative;
    background-color: rgb(134, 56, 56);
    color: white;
    display: flex;
    justify-content: center;
    bottom: 0;
    padding: 10px;
    cursor: default;
}

.how-to-use-container{
        z-index: 11;
        position: fixed;
        width:inherit;
        bottom:0;
        height:100%;
        display: flex;
        flex-direction: column;
        background-color: white;
        box-sizing: border-box;
}
.how-to-use-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(134, 56, 56);
}

.how-to-use-content{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-start;
}
.instructions{
    align-self: flex-start;
    padding: 10px 20px 20px 0px;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
}

div{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
}

.container{
    height:100%;
}

.add-todo{
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    font-size: 24px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    color: inherit;
    padding: 0px;
    padding-left: 10px;
    border: none;
    box-shadow: inset 2px -2px 1px rgba(0,0,0,0.03);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.add-todo-sticky{
    position: fixed;
    width: inherit;
    top: 0px;
    background: #f5f5f5;
    z-index: 1;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    font-style: italic;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
    font-style: italic;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
    font-style: italic;
  }

.footer{
    color: inherit;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: white;
    cursor:default;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filters-btn{
    color: inherit;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px dashed #999999;
    border-radius: 3px;
    background-color: white;
    cursor:pointer;
}

.close-btn{
    width: fit-content;
    display: flex;
    align-self: center;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: rgb(134,56,56);
    color: white;
    border-color: rgb(134,56,56);
  }

  .close-btn:hover{
      color: rgb(134,56,56);
      border-color: rgb(134,56,56);
      background-color: white;
  }

.footer-font{
    font-size: 14px;
    align-items: center;
    padding:10px;
}


.filters-btn:hover{
    border-color: #888;
}

@media screen and (min-width:320px) and (max-width:550px) {
    .todo-header{
        position: relative;
        width: auto;
    }
}